{% extends 'adminindex.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <!--<table width="200" border="1">-->
    <!--<tr>-->
      <!--<th scope="row"><a href="addvehicle">add vehicle</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="addcomplnt">add complaint</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="approvrqst">approved request</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="mngvhcle">manage vehicle</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewcmplntadmin">view compliant</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewrqst">view request</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewuser">view user</a></th>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<th scope="row"><a href="viewemrgncy">view emergwncy</a></th>-->
    <!--</tr>-->
  <!--</table>-->
</form>
{% endblock %}
