{% extends 'index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/log">
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td>Username</td>
        <td><label for="textfield"></label>
        <input type="text" name="textfield" id="textfield" required pattern="[A-Z a-z.]{3,25}" /></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><label for="textfield2"></label>
        <input type="password" name="textfield2" id="textfield2" required /></td>
      </tr>
      <tr>
        <td colspan="2"><div align="center">
          <input type="submit" name="button" id="button" value="Login" />
          <a href="officer">Signup</a></div></td>
      </tr>
    </table>
  </div>
</form>
{% endblock %}